.page-container {
	max-width: 100%;
	margin: 20px 60px;
}

.card-container {
	background-color: #f6f6f6;
	padding: 20px;
	border-radius: 15px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	margin-bottom: 10%;
}

.card-title {
	color: white;
	position: absolute;
	bottom: 0px;
	left: 10px;
}

.link-style {
	text-decoration: none;
	position: relative;
}
.card-image {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}
@media screen and (max-width: 768px) {
	.card-container {
		grid-template-columns: repeat(2, 1fr);
	}
	.cardItem {
		height: 450px;
	}
	.card-title {
		font-size: 12px;
	}
}
@media screen and (max-width: 375px) {
	.card-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.cardItem {
		height: 255px;
	}
	.page-container {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
