.page-container {
	max-width: 100%;
	margin: 20px 60px;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.cardItem {
	background-color: #f46060;
	width: 100%;
	max-width: 340px;
	height: 340px;
	text-decoration: none;
	color: inherit;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-title {
	width: 100%;
	text-align: center;
}
@media screen and (max-width: 375px) {
	.card-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.cardItem {
		height: 255px;
	}
}
