.card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.cardItem {
	background-color: #f46060;
	width: 340px;
	height: 340px;
	text-decoration: none;
	color: inherit;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-title {
	width: 100%;
	text-align: center;
}
