.collapse-container {
	background-color: #f46060;
	color: white;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: auto;
	width: 540px;
	margin-right: 50px;
	margin-bottom: 20px;
	h1 {
		margin-left: 15px;
	}
}

.collapse-content {
	max-width: 85%;
}
.chevron-up {
	transform: rotate(180deg);
	margin-right: 15px;
}
.chevron-down {
	margin-right: 15px;
}
@media screen and (max-width: 1200px) {
	.collapse-container {
		width: 450px;
	}
}
@media screen and (max-width: 1000px) {
	.collapse-container {
		width: 350px;
	}
}
@media screen and (max-width: 768px) {
	.collapse-container {
		display: flex;
		width: 335px;
		height: 40px;
		h1 {
			margin: 0 10px;
			font-size: 18px;
			font-weight: 700;
		}
	}
}
