.collapse-container {
	background-color: #f46060;
	color: white;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: auto;
	width: 540px;
	margin: 10px 10px;
	h1 {
		margin-left: 15px;
	}
}

.collapse-content {
	max-width: 500px;
	margin-left: 15px;
	ul {
		list-style: none;
	}
}
.chevron-up {
	transform: rotate(180deg);
	margin-right: 15px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}
.chevron-down {
	margin-right: 15px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 1200px) {
	.collapse-container {
		width: 450px;
	}
}
@media screen and (max-width: 1000px) {
	.collapse-container {
		width: 350px;
	}
	.collapse-content {
		max-width: 300px;
		margin-left: 15px;
	}
}
@media screen and (max-width: 768px) {
	.collapse-container {
		display: flex;
		width: 335px;
		height: 40px;
		margin: 10px 0;
		h1 {
			margin: 0 10px;
			font-size: 18px;
			font-weight: 700;
		}
	}
	.collapse-content {
		max-width: 300px;
		margin-left: 15px;
	}
}
@media screen and (max-width: 375px) {
	.collapse-container {
		margin: 20px 0px 10px 0px;
	}
	.collapse-content {
		max-width: 300px;
		margin-left: 15px;
	}
}
