.image-product {
	width: 700px;
	height: 300px;
}
.product-title h1 {
	color: #f46060;
	margin-bottom: -10px;
}

.product-host {
	display: flex;
	width: 110px;
	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
}
.product-infos {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 0 40px;
}
.container-title-host {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}

.product-description {
	display: flex;
	gap: 20px;
	padding: 20px 40px;
}
